In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import csvs
youtube = pd.read_csv('Resources/social media influencers - youtube.csv')
instagram = pd.read_csv('Resources/social media influencers - instagram.csv')

In [3]:
youtube = youtube.dropna(how='any')
youtube['Category'].value_counts()

Music & Dance           185
Video games              79
Animation                56
News & Politics          45
Movies                   33
Humor                    29
Daily vlogs              27
Toys                     20
Science & Technology     17
Food & Drinks            15
Education                14
DIY & Life Hacks         14
Sports                   11
Fashion                   7
Animals & Pets            4
Fitness                   3
ASMR                      3
Design/art                3
Beauty                    2
Health & Self Help        2
Autos & Vehicles          1
Mystery                   1
Travel                    1
Name: Category, dtype: int64

In [4]:
#clean up youtube df
youtube['New_Category'] = youtube['Category'].replace(
    {'Animation': 'Movies', 'ASMR': 'Other', 'Daily vlogs': 'Journalism', 'Design/art': 'Art/Artists', 
     'DIY & Life Hacks': 'Other', 'Fitness': 'Lifestyle', 'Health & Self Help': 'Lifestyle', 'Mystery': 'Other', 
     'News & Politics': 'Journalism', 'Toys': 'Kids & Toys', 'Video games': 'Kids & Toys', 'Naan': 'Other' })

youtube['New_Category'].value_counts()

Music & Dance           185
Kids & Toys              99
Movies                   89
Journalism               72
Humor                    29
Other                    18
Science & Technology     17
Food & Drinks            15
Education                14
Sports                   11
Fashion                   7
Lifestyle                 5
Animals & Pets            4
Art/Artists               3
Beauty                    2
Autos & Vehicles          1
Travel                    1
Name: New_Category, dtype: int64

In [5]:
#clean up instagram df
instagram = instagram.dropna(how='any')
instagram['category_1'].value_counts()

Music                        66
Cinema & Actors/actresses    51
Lifestyle                    40
Shows                        25
Modeling                     16
Beauty                       12
Sports with a ball           11
Art/Artists                   9
Fashion                       8
Family                        8
Computers & Gadgets           5
Finance & Economics           4
Clothing & Outfits            4
Cars & Motorbikes             3
Nature & landscapes           3
Humor & Fun & Happiness       3
Literature & Journalism       2
Management & Marketing        2
Photography                   2
Fitness & Gym                 2
Science                       2
Accessories & Jewellery       1
Education                     1
Luxury                        1
Kids & Toys                   1
Name: category_1, dtype: int64

In [6]:
#clean up youtube df
instagram['New_Category'] = instagram['category_1'].replace(
    {'Accessories & Jewellery': 'Fashion', 'Adult content': 'Lifestyle', 'Animals': 'Animals & Pets', 
     'Cars & Motorbikes': 'Autos & Vehicles', 'Cinema & Actors/actresses': 'Movies', 'Clothing & Outfits': 'Fashion', 
    'Computers & Gadgets': 'Science & Technology', 'Family': 'Other', 'Finance & Economics': 'Other', 
     'Fitness & Gym': 'Lifestyle', 'Food & Cooking': 'Food & Drinks', 'Humor & Fun & Happiness': 'Humor', 
     'Literature & Journalism': 'Journalism', 'Luxury': 'Lifestyle', 'Machinery & Technologies': 'Science & Technology',
    'Management & Marketing': 'Other', 'Modeling': 'Fashion', 'Music': 'Music & Dance', 'Nature & landscapes': 'Travel', 
    'Photography': 'Business & Careers', 'Racing Sports': 'Sports', 'Science': 'Science & Technology', 'Shows': 'Movies', 
    'Sports with a ball': 'Sports', 'Naan': 'Other'})

instagram['New_Category'].value_counts()

Movies                  76
Music & Dance           66
Lifestyle               43
Fashion                 29
Other                   14
Beauty                  12
Sports                  11
Art/Artists              9
Science & Technology     7
Autos & Vehicles         3
Travel                   3
Humor                    3
Journalism               2
Business & Careers       2
Education                1
Kids & Toys              1
Name: New_Category, dtype: int64

In [16]:
#Export clean csvs to folder

youtube.to_csv('clean_youtube.csv')
instagram.to_csv('clean_instagram.csv')

In [8]:

youtube["file_name"] = "youtube"
instagram["file_name"] = "instagram"

In [14]:
youtube.head()

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments,New_Category,file_name
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290,Music & Dance,youtube
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K,Movies,youtube
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K,Kids & Toys,youtube
7,WWEFanNation,WWE,Video games,86.9M,United States,76.6K,2.8K,163,Kids & Toys,youtube
8,zeemusiccompany,Zee Music Company,Music & Dance,82.7M,India,108.7K,4.2K,155,Music & Dance,youtube
...,...,...,...,...,...,...,...,...,...,...
767,Experienced Mojaraba TV,Experienced Mojaraba TV,Health & Self Help,10.7M,United States,190.7K,5.2K,128,Lifestyle,youtube
778,francinyehlke,Franciny Ehlke,Fashion,10.5M,Brazil,197.2K,19.2K,629,Fashion,youtube
779,BuzzFeedYellow,As/Is,Fashion,10.5M,United States,27.1K,1.1K,12,Fashion,youtube
869,Joe HaTTab,Joe HaTTab,Travel,9.9M,Saudi Arabia,3.5M,233.2K,15.9K,Travel,youtube
948,JoeyGraceffa,Joey Graceffa,Animals & Pets,9.4M,United States,317.9K,23.3K,2.9K,Animals & Pets,youtube

In [20]:
youtube1 = youtube.groupby(["New_Category"]).agg({"Audience Country": pd.Series.nunique})
youtube1.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [10]:
instagram.head()

,Influencer insta name,instagram name,category_1,category_2,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n,New_Category,file_name
7,_seorina,설인아 sᴇᴏʀɪɴᴀ,Lifestyle,Cinema & Actors/actresses,3M,South Korea,803.9K,997.8K,Lifestyle,instagram
15,abdevilliers17,AB de Villiers,Sports with a ball,Lifestyle,17.2M,India,534K,615.9K,Sports,instagram
25,adidasoriginals,adidas Originals,Clothing & Outfits,Shopping & Retail,34.2M,United States,52.4K,71.8K,Fashion,instagram
44,alok,Alok,Music,Art/Artists,27M,Brazil,249.6K,319.9K,Music & Dance,instagram
45,alvaromorata,Álvaro Morata,Sports with a ball,Literature & Journalism,16.2M,Italy,113.1K,175.2K,Sports,instagram