In [1]:
#Dependencies
import pandas as pd

In [2]:
#File to load
file_to_load = "resources/social media influencers - instagram.csv"
instagram = pd.read_csv(file_to_load)
instagram

,Influencer insta name,instagram name,category_1,category_2,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,433,Sports with a ball,NaN,48.5M,Spain,383.1K,637K
1,__youngbae__,TAEYANG,Music,NaN,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,Shows,NaN,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Joy,Lifestyle,NaN,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,Jaehyun,NaN,NaN,11.1M,Indonesia,2.5M,3.1M
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136.1M,United States,6.4M,8.6M
996,zidane,zidane,Sports with a ball,NaN,31.2M,Spain,546K,744.1K
997,zkdlin,KAI,Music,NaN,13.9M,Indonesia,1.3M,1.6M
998,zoeisabellakravitz,Zoë Kravitz,Cinema & Actors/actresses,NaN,8.2M,United States,583K,885.5K
999,zoesugg,Zoë Sugg,Lifestyle,Business & Careers,9.4M,United Kingdom,208.7K,289.3K

In [3]:
#Drop unnecessary categories

instagram.drop(instagram.loc[instagram['category_1']=='Adult content'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Photography'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Literature & Journalism'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Nature & landscapes'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Science'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Animals'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Education'].index, inplace=True)

instagram.drop(instagram.loc[instagram['category_1']=='Luxury'].index, inplace=True)

instagram

,Influencer insta name,instagram name,category_1,category_2,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,433,Sports with a ball,NaN,48.5M,Spain,383.1K,637K
1,__youngbae__,TAEYANG,Music,NaN,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,Shows,NaN,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Joy,Lifestyle,NaN,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,Jaehyun,NaN,NaN,11.1M,Indonesia,2.5M,3.1M
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136.1M,United States,6.4M,8.6M
996,zidane,zidane,Sports with a ball,NaN,31.2M,Spain,546K,744.1K
997,zkdlin,KAI,Music,NaN,13.9M,Indonesia,1.3M,1.6M
998,zoeisabellakravitz,Zoë Kravitz,Cinema & Actors/actresses,NaN,8.2M,United States,583K,885.5K
999,zoesugg,Zoë Sugg,Lifestyle,Business & Careers,9.4M,United Kingdom,208.7K,289.3K

In [4]:
#Group and rename categories

instagram['category_1']=instagram['category_1'].replace(['Lifestyle', 'Humor & Fun & Happiness'],'Travel/ Lifestyle')

instagram['category_1']=instagram['category_1'].replace(['Beauty', 'Clothing & Outfits',
                                             'Fashion','Modeling','Accessories & Jewellery'],'Fashion/ Beauty')
instagram['category_1']=instagram['category_1'].replace(['Music', 'Shows', 'Cinema & Actors/actresses', 'Art/Artists', 'Management & Marketing'],'Celebrity/ Entertainment')

instagram['category_1']=instagram['category_1'].replace(['Sports with a ball'],'Sports')

instagram['category_1']=instagram['category_1'].replace(['Fitness & Gym'],'Health/ Fitness')

instagram['category_1']=instagram['category_1'].replace(['Family', 'Kids & Toys'],'Family/ Home/ Parenting')

instagram['category_1']=instagram['category_1'].replace(['Computers & Gadgets', 'Finance & Economics', 'Business & Careers', 'Machinery & Technologies'],'Business/ Tech/ Gaming')

instagram['category_1']=instagram['category_1'].replace(['Cars & Motorbikes', 'Racing Sports'],'Automotive')

instagram['category_1']=instagram['category_1'].replace(['Food & Cooking'],'Food')

In [5]:
#Drop columns category 2 & instagram name

instagram_2=instagram.drop(['category_2','instagram name'], axis=1)
instagram_2

,Influencer insta name,category_1,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,Sports,48.5M,Spain,383.1K,637K
1,__youngbae__,Celebrity/ Entertainment,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,Celebrity/ Entertainment,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Travel/ Lifestyle,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,NaN,11.1M,Indonesia,2.5M,3.1M
...,...,...,...,...,...,...
995,zendaya,Celebrity/ Entertainment,136.1M,United States,6.4M,8.6M
996,zidane,Sports,31.2M,Spain,546K,744.1K
997,zkdlin,Celebrity/ Entertainment,13.9M,Indonesia,1.3M,1.6M
998,zoeisabellakravitz,Celebrity/ Entertainment,8.2M,United States,583K,885.5K
999,zoesugg,Travel/ Lifestyle,9.4M,United Kingdom,208.7K,289.3K

In [49]:
#Drop nulls

instagram_3=instagram_2.dropna()

instagram_3=instagram_3.reset_index(drop=True)

instagram_3

,Influencer insta name,category_1,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,Sports,48.5M,Spain,383.1K,637K
1,__youngbae__,Celebrity/ Entertainment,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,Celebrity/ Entertainment,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Travel/ Lifestyle,13.5M,Indonesia,1.1M,1.4M
4,_rl9,Sports,25M,Poland,588.6K,749K
...,...,...,...,...,...,...
863,zendaya,Celebrity/ Entertainment,136.1M,United States,6.4M,8.6M
864,zidane,Sports,31.2M,Spain,546K,744.1K
865,zkdlin,Celebrity/ Entertainment,13.9M,Indonesia,1.3M,1.6M
866,zoeisabellakravitz,Celebrity/ Entertainment,8.2M,United States,583K,885.5K
867,zoesugg,Travel/ Lifestyle,9.4M,United Kingdom,208.7K,289.3K

In [48]:
#Save as csv

#instagram_3.to_csv(r'/Users/heyleenah/Desktop/instagram clean.csv')

In [7]:
#Check any nulls

instagram_3.isna().any()

Influencer insta name       False
category_1                  False
Followers                   False
Audience country(mostly)    False
Authentic engagement\r\n    False
Engagement avg\r\n          False
dtype: bool

In [8]:
#no_naan.to_csv(r'/Users/heyleenah/Desktop/no null.csv')

In [9]:
#Check how many categories each country has

cat_by_country=instagram_3.value_counts(['Audience country(mostly)'])
cat_by_country

Audience country(mostly)
United States               248
India                       137
Brazil                      137
Indonesia                   100
Mexico                       36
Spain                        34
Russia                       22
Argentina                    22
United Kingdom               20
Iran                         19
Turkey                       16
Colombia                     12
Italy                        10
South Korea                   7
Philippines                   7
France                        6
Thailand                      6
Egypt                         5
Iraq                          5
Germany                       3
Morocco                       3
Nigeria                       2
Japan                         2
Ukraine                       1
United Arab Emirates          1
China                         1
Syria                         1
Serbia                        1
Poland                        1
Algeria                       1
Chile                         1
Albania                       1
dtype: int64

In [10]:
#Number of countries

cat_by_country.count()

32

In [11]:
#Check how many times each category shows

categories=instagram_3.value_counts(['category_1'])
categories

category_1
Celebrity/ Entertainment    505
Travel/ Lifestyle           117
Sports                      113
Fashion/ Beauty              79
Business/ Tech/ Gaming       18
Automotive                   12
Family/ Home/ Parenting      11
Health/ Fitness              10
Food                          3
dtype: int64

In [12]:
#Number of categories

categories.count()

9

In [13]:
#Next cells show data by country

In [14]:
usa_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "United States", :]
usa_df = usa_df["category_1"].value_counts()
usa_df.head(9)

Celebrity/ Entertainment    150
Travel/ Lifestyle            33
Fashion/ Beauty              29
Sports                       16
Business/ Tech/ Gaming        7
Health/ Fitness               6
Automotive                    4
Family/ Home/ Parenting       2
Food                          1
Name: category_1, dtype: int64

In [15]:
india_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "India", :]
india_df = india_df["category_1"].value_counts()
india_df.head(9)

Celebrity/ Entertainment    89
Sports                      16
Travel/ Lifestyle           13
Fashion/ Beauty             12
Business/ Tech/ Gaming       4
Automotive                   1
Family/ Home/ Parenting      1
Health/ Fitness              1
Name: category_1, dtype: int64

In [16]:
brazil_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Brazil", :]
brazil_df = brazil_df["category_1"].value_counts()
brazil_df.head(9)

Celebrity/ Entertainment    82
Travel/ Lifestyle           24
Sports                      16
Fashion/ Beauty             13
Business/ Tech/ Gaming       1
Automotive                   1
Name: category_1, dtype: int64

In [17]:
indonesia_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Indonesia", :]
indonesia_df = indonesia_df["category_1"].value_counts()
indonesia_df.head(9)

Celebrity/ Entertainment    62
Travel/ Lifestyle           20
Fashion/ Beauty             10
Sports                       2
Family/ Home/ Parenting      2
Business/ Tech/ Gaming       2
Automotive                   2
Name: category_1, dtype: int64

In [18]:
mexico_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Mexico", :]
mexico_df = mexico_df["category_1"].value_counts()
mexico_df.head(9)

Celebrity/ Entertainment    23
Travel/ Lifestyle            7
Fashion/ Beauty              4
Health/ Fitness              1
Business/ Tech/ Gaming       1
Name: category_1, dtype: int64

In [19]:
spain_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Spain", :]
spain_df = spain_df["category_1"].value_counts()
spain_df.head(9)

Sports                      24
Celebrity/ Entertainment     9
Business/ Tech/ Gaming       1
Name: category_1, dtype: int64

In [20]:
russia_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Russia", :]
russia_df = russia_df["category_1"].value_counts()
russia_df.head(9)

Celebrity/ Entertainment    12
Fashion/ Beauty              3
Business/ Tech/ Gaming       2
Family/ Home/ Parenting      2
Health/ Fitness              1
Travel/ Lifestyle            1
Automotive                   1
Name: category_1, dtype: int64

In [21]:
argentina_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Argentina", :]
argentina_df = argentina_df["category_1"].value_counts()
argentina_df.head(9)

Celebrity/ Entertainment    16
Sports                       4
Fashion/ Beauty              1
Family/ Home/ Parenting      1
Name: category_1, dtype: int64

In [22]:
united_kingdom_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "United Kingdom", :]
united_kingdom_df = united_kingdom_df["category_1"].value_counts()
united_kingdom_df.head(9)

Sports                      14
Celebrity/ Entertainment     2
Travel/ Lifestyle            2
Health/ Fitness              1
Family/ Home/ Parenting      1
Name: category_1, dtype: int64

In [23]:
iran_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Iran", :]
iran_df = iran_df["category_1"].value_counts()
iran_df.head(9)

Celebrity/ Entertainment    12
Sports                       3
Travel/ Lifestyle            2
Fashion/ Beauty              1
Automotive                   1
Name: category_1, dtype: int64

In [24]:
turkey_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Turkey", :]
turkey_df = turkey_df["category_1"].value_counts()
turkey_df.head(9)

Celebrity/ Entertainment    10
Food                         2
Sports                       2
Fashion/ Beauty              1
Travel/ Lifestyle            1
Name: category_1, dtype: int64

In [25]:
italy_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Italy", :]
italy_df = italy_df["category_1"].value_counts()
italy_df.head(9)

Sports                      3
Celebrity/ Entertainment    3
Automotive                  2
Fashion/ Beauty             1
Travel/ Lifestyle           1
Name: category_1, dtype: int64

In [26]:
colombia_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Colombia", :]
colombia_df = colombia_df["category_1"].value_counts()
colombia_df.head(9)

Celebrity/ Entertainment    7
Travel/ Lifestyle           4
Sports                      1
Name: category_1, dtype: int64

In [27]:
south_korea_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "South Korea", :]
south_korea_df = south_korea_df["category_1"].value_counts()
south_korea_df.head(9)

Celebrity/ Entertainment    5
Travel/ Lifestyle           2
Name: category_1, dtype: int64

In [28]:
philippines_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Philippines", :]
philippines_df = philippines_df["category_1"].value_counts()
philippines_df.head(9)

Celebrity/ Entertainment    3
Fashion/ Beauty             2
Travel/ Lifestyle           2
Name: category_1, dtype: int64

In [29]:
france_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "France", :]
france_df = france_df["category_1"].value_counts()
france_df.head(9)

Sports                      3
Fashion/ Beauty             1
Travel/ Lifestyle           1
Celebrity/ Entertainment    1
Name: category_1, dtype: int64

In [30]:
thailand_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Thailand", :]
thailand_df = thailand_df["category_1"].value_counts()
thailand_df.head(9)

Celebrity/ Entertainment    5
Fashion/ Beauty             1
Name: category_1, dtype: int64

In [31]:
egypt_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Egypt", :]
egypt_df = egypt_df["category_1"].value_counts()
egypt_df.head(9)

Celebrity/ Entertainment    4
Sports                      1
Name: category_1, dtype: int64

In [32]:
iraq_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Iraq", :]
iraq_df = iraq_df["category_1"].value_counts()
iraq_df.head(9)

Celebrity/ Entertainment    3
Travel/ Lifestyle           1
Family/ Home/ Parenting     1
Name: category_1, dtype: int64

In [33]:
germany_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Germany", :]
germany_df = germany_df["category_1"].value_counts()
germany_df.head(9)

Sports                     2
Family/ Home/ Parenting    1
Name: category_1, dtype: int64

In [34]:
morocco_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Morocco", :]
morocco_df = morocco_df["category_1"].value_counts()
morocco_df.head(9)

Sports                      2
Celebrity/ Entertainment    1
Name: category_1, dtype: int64

In [35]:
nigeria_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Nigeria", :]
nigeria_df = nigeria_df["category_1"].value_counts()
nigeria_df.head(9)

Celebrity/ Entertainment    2
Name: category_1, dtype: int64

In [36]:
japan_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Japan", :]
japan_df = japan_df["category_1"].value_counts()
japan_df.head(9)

Celebrity/ Entertainment    2
Name: category_1, dtype: int64

In [37]:
ukraine_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Ukraine", :]
ukraine_df = ukraine_df["category_1"].value_counts()
ukraine_df.head(9)

Celebrity/ Entertainment    1
Name: category_1, dtype: int64

In [38]:
united_arab_emirates_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "United Arab Emirates", :]
united_arab_emirates_df = united_arab_emirates_df["category_1"].value_counts()
united_arab_emirates_df.head(9)

Travel/ Lifestyle    1
Name: category_1, dtype: int64

In [39]:
china_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "China", :]
china_df = china_df["category_1"].value_counts()
china_df.head(9)

Celebrity/ Entertainment    1
Name: category_1, dtype: int64

In [40]:
syria_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Syria", :]
syria_df = syria_df["category_1"].value_counts()
syria_df.head(9)

Travel/ Lifestyle    1
Name: category_1, dtype: int64

In [41]:
serbia_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Serbia", :]
serbia_df = serbia_df["category_1"].value_counts()
serbia_df.head(9)

Sports    1
Name: category_1, dtype: int64

In [42]:
poland_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Poland", :]
poland_df = poland_df["category_1"].value_counts()
poland_df.head(9)

Sports    1
Name: category_1, dtype: int64

In [43]:
algeria_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Algeria", :]
algeria_df = algeria_df["category_1"].value_counts()
algeria_df.head(9)

Sports    1
Name: category_1, dtype: int64

In [44]:
chile_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Chile", :]
chile_df = chile_df["category_1"].value_counts()
chile_df.head(9)

Sports    1
Name: category_1, dtype: int64

In [45]:
albania_df = instagram_3.loc[instagram_3["Audience country(mostly)"] == "Albania", :]
albania_df = albania_df["category_1"].value_counts()
albania_df.head(9)

Travel/ Lifestyle    1
Name: category_1, dtype: int64

In [53]:
group_data = instagram_3.groupby(['Audience country(mostly)','Engagement avg\r\n']).sum()
group_data

                                                         Influencer insta name  \
Audience country(mostly) Engagement avg\r\n
Albania                  611.6K                                      eilirjani
Algeria                  429.9K                                riyadmahrez26.7
Argentina                1.1M                bizarrapdukissjevalunapaulodybala
                         1.3M                                     nicki.nicole
                         1.6M                                 antonelaroccuzzo
...                                                                        ...
United States            959.8K                                  hichasestokes
                         961.2K                                kourtneykardash
                         975.4K                               lexibrookerivera
                         983.9K                                      theweeknd
                         99.3K                                     playstation

                                                                                    category_1  \
Audience country(mostly) Engagement avg\r\n
Albania                  611.6K                                              Travel/ Lifestyle
Algeria                  429.9K                                                         Sports
Argentina                1.1M                Celebrity/ EntertainmentCelebrity/ Entertainme...
                         1.3M                                         Celebrity/ Entertainment
                         1.6M                                                  Fashion/ Beauty
...                                                                                        ...
United States            959.8K                                              Travel/ Lifestyle
                         961.2K                                              Travel/ Lifestyle
                         975.4K                                       Celebrity/ Entertainment
                         983.9K                                       Celebrity/ Entertainment
                         99.3K                                          Business/ Tech/ Gaming

                                                     Followers  \
Audience country(mostly) Engagement avg\r\n
Albania                  611.6K                           9.5M
Algeria                  429.9K                           8.5M
Argentina                1.1M                11.5M9M19.8M45.8M
                         1.3M                            11.5M
                         1.6M                              19M
...                                                        ...
United States            959.8K                           7.4M
                         961.2K                         166.4M
                         975.4K                           8.4M
                         983.9K                          37.5M
                         99.3K                           28.9M

                                             Authentic engagement\r\n
Audience country(mostly) Engagement avg\r\n
Albania                  611.6K                                423.9K
Algeria                  429.9K                                333.9K
Argentina                1.1M                920.8K607.2K812.1K662.9K
                         1.3M                                  876.2K
                         1.6M                                  970.7K
...                                                               ...
United States            959.8K                                640.9K
                         961.2K                                674.5K
                         975.4K                                  778K
                         983.9K                                725.8K
                         99.3K                                  80.5K

[788 rows x 4 columns]