In [1]:
#Dependencies
import pandas as pd

In [2]:
#File to load
file_to_load = "resources/social media influencers - youtube.csv"
youtube = pd.read_csv(file_to_load)
youtube

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290
1,checkgate,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,setindia,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...,...
995,FutParódias,FutParódias,Music & Dance,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,EL GATO,Toys,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,CinemaSins,Movies,9.2M,United States,296K,10.2K,874
998,CricketICC,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,BRKsEDU,Animation,9.2M,Brazil,112.3K,9.8K,246

In [3]:
#Drop unnecessary categories

youtube.drop(youtube.loc[youtube['Category']=='News & Politics'].index, inplace=True)

youtube.drop(youtube.loc[youtube['Category']=='Design/art'].index, inplace=True)

youtube.drop(youtube.loc[youtube['Category']=='Mystery'].index, inplace=True)

youtube.drop(youtube.loc[youtube['Category']=='Automotive'].index, inplace=True)

youtube.drop(youtube.loc[youtube['Category']=='Animals & Pets'].index, inplace=True)

youtube

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290
1,checkgate,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,setindia,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...,...
995,FutParódias,FutParódias,Music & Dance,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,EL GATO,Toys,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,CinemaSins,Movies,9.2M,United States,296K,10.2K,874
998,CricketICC,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,BRKsEDU,Animation,9.2M,Brazil,112.3K,9.8K,246

In [4]:
#Group and rename categories

youtube['Category']=youtube['Category'].replace(['Beauty','Fashion'],'Fashion/ Beauty')

youtube['Category']=youtube['Category'].replace(['Daily vlogs','DIY & Life Hacks','Travel','Humor','Health & Self Help'],'Travel/ Lifestyle')

youtube['Category']=youtube['Category'].replace(['Music & Dance','Animation','Movies'],'Celebrity/ Entertainment')

youtube['Category']=youtube['Category'].replace(['Fitness'],'Health/ Fitness')

youtube['Category']=youtube['Category'].replace(['Toys'],'Family/ Home/ Parenting')

youtube['Category']=youtube['Category'].replace(['Science & Technology','Video games'],'Business/ Tech/ Gaming')

youtube['Category']=youtube['Category'].replace(['Autos & Vehicles'],'Automotive')

youtube['Category']=youtube['Category'].replace(['Food & Drinks','ASMR'],'Food')

In [5]:
#Drop column youtuber name

youtube_2=youtube.drop(['youtuber name'], axis=1)
youtube_2

,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,T-Series,Celebrity/ Entertainment,212.1M,India,323.7K,9.8K,290
1,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,Celebrity/ Entertainment,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast,Business/ Tech/ Gaming,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...
995,FutParódias,Celebrity/ Entertainment,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,Family/ Home/ Parenting,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,Celebrity/ Entertainment,9.2M,United States,296K,10.2K,874
998,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,Celebrity/ Entertainment,9.2M,Brazil,112.3K,9.8K,246

In [ ]:
#Rename columns

In [6]:
#Drop nulls

youtube_3=youtube_2.dropna()

youtube_3= youtube_3.reset_index(drop=True)

youtube_3

,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,T-Series,Celebrity/ Entertainment,212.1M,India,323.7K,9.8K,290
1,PewDiePie,Celebrity/ Entertainment,111.4M,United States,1.4M,80.8K,4.6K
2,MrBeast,Business/ Tech/ Gaming,92.5M,United States,30.6M,1.7M,67.7K
3,WWE,Business/ Tech/ Gaming,86.9M,United States,76.6K,2.8K,163
4,Zee Music Company,Celebrity/ Entertainment,82.7M,India,108.7K,4.2K,155
...,...,...,...,...,...,...,...
514,FutParódias,Celebrity/ Entertainment,9.2M,Brazil,1.4M,110.1K,2.5K
515,EL GATO,Family/ Home/ Parenting,9.2M,Brazil,243.8K,30.7K,636
516,CinemaSins,Celebrity/ Entertainment,9.2M,United States,296K,10.2K,874
517,ICC,Sports,9.2M,India,15.2K,854,58
518,BRKsEDU,Celebrity/ Entertainment,9.2M,Brazil,112.3K,9.8K,246

In [7]:
#Save as csv

#youtube_3.to_csv(r'/Users/heyleenah/Desktop/youtube clean.csv')

In [8]:
#Check any nulls

youtube_3.isna().any()

channel name        False
Category            False
Subscribers         False
Audience Country    False
avg views           False
avg likes           False
avg comments        False
dtype: bool

In [9]:
#Check how many categories each country has

cat_by_country=youtube_3.value_counts(['Audience Country'])
cat_by_country

Audience Country
United States       213
India                89
Brazil               68
Mexico               39
Indonesia            28
Russia               26
Philippines           9
Thailand              8
Colombia              7
Argentina             6
Spain                 4
United Kingdom        3
Turkey                3
Iraq                  3
Saudi Arabia          3
Algeria               2
Japan                 2
Peru                  1
Pakistan              1
France                1
Egypt                 1
Ecuador               1
Bangladesh            1
dtype: int64

In [10]:
#Number of countries

cat_by_country.count()

23

In [11]:
#Check how many times each category shows

categories=youtube_3.value_counts(['Category'])
categories

Category
Celebrity/ Entertainment    274
Business/ Tech/ Gaming       96
Travel/ Lifestyle            73
Family/ Home/ Parenting      20
Food                         18
Education                    14
Sports                       11
Fashion/ Beauty               9
Health/ Fitness               3
Automotive                    1
dtype: int64

In [12]:
#Number of categories

categories.count()

10

In [13]:
#Next cells show data by country

In [14]:
usa_df = youtube_3.loc[youtube_3["Audience Country"] == "United States", :]
usa_df = usa_df["Category"].value_counts()
usa_df.head(9)

Celebrity/ Entertainment    108
Business/ Tech/ Gaming       44
Travel/ Lifestyle            31
Food                          9
Sports                        7
Fashion/ Beauty               6
Education                     4
Health/ Fitness               3
Family/ Home/ Parenting       1
Name: Category, dtype: int64

In [15]:
india_df = youtube_3.loc[youtube_3["Audience Country"] == "India", :]
india_df = india_df["Category"].value_counts()
india_df.head(9)

Celebrity/ Entertainment    62
Travel/ Lifestyle           14
Education                    8
Food                         2
Sports                       2
Business/ Tech/ Gaming       1
Name: Category, dtype: int64

In [16]:
brazil_df = youtube_3.loc[youtube_3["Audience Country"] == "Brazil", :]
brazil_df = brazil_df["Category"].value_counts()
brazil_df.head(9)

Celebrity/ Entertainment    31
Family/ Home/ Parenting     15
Business/ Tech/ Gaming      10
Travel/ Lifestyle            5
Food                         3
Fashion/ Beauty              2
Sports                       1
Automotive                   1
Name: Category, dtype: int64

In [17]:
mexico_df = youtube_3.loc[youtube_3["Audience Country"] == "Mexico", :]
mexico_df = mexico_df["Category"].value_counts()
mexico_df.head(9)

Celebrity/ Entertainment    14
Business/ Tech/ Gaming      13
Travel/ Lifestyle            7
Family/ Home/ Parenting      2
Food                         2
Fashion/ Beauty              1
Name: Category, dtype: int64

In [18]:
indonesia_df = youtube_3.loc[youtube_3["Audience Country"] == "Indonesia", :]
indonesia_df = indonesia_df["Category"].value_counts()
indonesia_df.head(9)

Celebrity/ Entertainment    21
Business/ Tech/ Gaming       3
Food                         2
Family/ Home/ Parenting      1
Education                    1
Name: Category, dtype: int64

In [19]:
russia_df = youtube_3.loc[youtube_3["Audience Country"] == "Russia", :]
russia_df = russia_df["Category"].value_counts()
russia_df.head(9)

Business/ Tech/ Gaming      17
Travel/ Lifestyle            6
Celebrity/ Entertainment     2
Family/ Home/ Parenting      1
Name: Category, dtype: int64

In [20]:
philippines_df = youtube_3.loc[youtube_3["Audience Country"] == "Philippines", :]
philippines_df = philippines_df["Category"].value_counts()
philippines_df.head(9)

Celebrity/ Entertainment    6
Travel/ Lifestyle           3
Name: Category, dtype: int64

In [21]:
thailand_df = youtube_3.loc[youtube_3["Audience Country"] == "Thailand", :]
thailand_df = thailand_df["Category"].value_counts()
thailand_df.head(9)

Celebrity/ Entertainment    8
Name: Category, dtype: int64

In [22]:
colombia_df = youtube_3.loc[youtube_3["Audience Country"] == "Colombia", :]
colombia_df = colombia_df["Category"].value_counts()
colombia_df.head(9)

Celebrity/ Entertainment    4
Business/ Tech/ Gaming      2
Travel/ Lifestyle           1
Name: Category, dtype: int64

In [23]:
argentina_df = youtube_3.loc[youtube_3["Audience Country"] == "Argentina", :]
argentina_df = argentina_df["Category"].value_counts()
argentina_df.head(9)

Celebrity/ Entertainment    4
Business/ Tech/ Gaming      1
Travel/ Lifestyle           1
Name: Category, dtype: int64

In [24]:
spain_df = youtube_3.loc[youtube_3["Audience Country"] == "Spain", :]
spain_df = spain_df["Category"].value_counts()
spain_df.head(9)

Business/ Tech/ Gaming      2
Celebrity/ Entertainment    1
Travel/ Lifestyle           1
Name: Category, dtype: int64

In [25]:
united_kingdom_df = youtube_3.loc[youtube_3["Audience Country"] == "United Kingdom", :]
united_kingdom_df = united_kingdom_df["Category"].value_counts()
united_kingdom_df.head(9)

Business/ Tech/ Gaming      1
Sports                      1
Celebrity/ Entertainment    1
Name: Category, dtype: int64

In [26]:
turkey_df = youtube_3.loc[youtube_3["Audience Country"] == "Turkey", :]
turkey_df = turkey_df["Category"].value_counts()
turkey_df.head(9)

Celebrity/ Entertainment    2
Business/ Tech/ Gaming      1
Name: Category, dtype: int64

In [27]:
iraq_df = youtube_3.loc[youtube_3["Audience Country"] == "Iraq", :]
iraq_df = iraq_df["Category"].value_counts()
iraq_df.head(9)

Celebrity/ Entertainment    3
Name: Category, dtype: int64

In [28]:
saudi_arabia_df = youtube_3.loc[youtube_3["Audience Country"] == "Saudi Arabia", :]
saudi_arabia_df = saudi_arabia_df["Category"].value_counts()
saudi_arabia_df.head(9)

Celebrity/ Entertainment    2
Travel/ Lifestyle           1
Name: Category, dtype: int64

In [29]:
algeria_df = youtube_3.loc[youtube_3["Audience Country"] == "Algeria", :]
algeria_df = algeria_df["Category"].value_counts()
algeria_df.head(9)

Education            1
Travel/ Lifestyle    1
Name: Category, dtype: int64

In [30]:
japan_df = youtube_3.loc[youtube_3["Audience Country"] == "Japan", :]
japan_df = japan_df["Category"].value_counts()
japan_df.head(9)

Celebrity/ Entertainment    2
Name: Category, dtype: int64

In [31]:
peru_df = youtube_3.loc[youtube_3["Audience Country"] == "Peru", :]
peru_df = peru_df["Category"].value_counts()
peru_df.head(9)

Business/ Tech/ Gaming    1
Name: Category, dtype: int64

In [32]:
pakistan_df = youtube_3.loc[youtube_3["Audience Country"] == "Pakistan", :]
pakistan_df = pakistan_df["Category"].value_counts()
pakistan_df.head(9)

Celebrity/ Entertainment    1
Name: Category, dtype: int64

In [33]:
france_df = youtube_3.loc[youtube_3["Audience Country"] == "France", :]
france_df = france_df["Category"].value_counts()
france_df.head(9)

Celebrity/ Entertainment    1
Name: Category, dtype: int64

In [34]:
egypt_df = youtube_3.loc[youtube_3["Audience Country"] == "Egypt", :]
egypt_df = egypt_df["Category"].value_counts()
egypt_df.head(9)

Celebrity/ Entertainment    1
Name: Category, dtype: int64

In [35]:
ecuador_df = youtube_3.loc[youtube_3["Audience Country"] == "Ecuador", :]
ecuador_df = ecuador_df["Category"].value_counts()
ecuador_df.head(9)

Travel/ Lifestyle    1
Name: Category, dtype: int64

In [36]:
bangladesh_df = youtube_3.loc[youtube_3["Audience Country"] == "Bangladesh", :]
bangladesh_df = bangladesh_df["Category"].value_counts()
bangladesh_df.head(9)

Travel/ Lifestyle    1
Name: Category, dtype: int64

In [39]:
group_data = youtube_3.groupby(['Audience Country','avg views']).sum()
group_data

                                        channel name  \
Audience Country avg views
Algeria          1M                  Rawan and Rayan
                 527.8K                    Oum Walid
Argentina        1.2M                    RobleisIUTU
                 1.7M                   Daddy Yankee
                 2.3M                       Rubius Z
...                                              ...
United States    903.9K     How It Should Have Ended
                 94.8K                   Lilly Singh
                 952K              Yoga With Adriene
                 96.9K                     Lofi Girl
                 976.4K                       DaBaby

                                            Category Subscribers avg likes  \
Audience Country avg views
Algeria          1M                Travel/ Lifestyle       10.1M     61.5K
                 527.8K                    Education       10.3M     29.4K
Argentina        1.2M       Celebrity/ Entertainment       16.9M     79.3K
                 1.7M       Celebrity/ Entertainment       35.8M    174.6K
                 2.3M         Business/ Tech/ Gaming       11.3M    194.6K
...                                              ...         ...       ...
United States    903.9K     Celebrity/ Entertainment       10.3M     33.9K
                 94.8K      Celebrity/ Entertainment       14.7M      6.6K
                 952K                Health/ Fitness       11.1M     19.7K
                 96.9K      Celebrity/ Entertainment       10.3M      3.8K
                 976.4K     Celebrity/ Entertainment        9.5M     36.4K

                           avg comments
Audience Country avg views
Algeria          1M                4.4K
                 527.8K            1.6K
Argentina        1.2M              2.3K
                 1.7M             15.8K
                 2.3M              2.2K
...                                 ...
United States    903.9K            1.3K
                 94.8K              103
                 952K               702
                 96.9K              179
                 976.4K            1.3K

[475 rows x 5 columns]