In [5]:
#Dependencies
import pandas as pd
import numpy as np

In [6]:
#Import csvs
youtube = pd.read_csv('Resources/social media influencers - youtube.csv')
instagram = pd.read_csv('Resources/social media influencers - instagram.csv')

In [11]:
youtube = youtube.dropna(how='any')
youtube['Category'].value_counts()

Music & Dance           185
Video games              79
Animation                56
News & Politics          45
Movies                   33
Humor                    29
Daily vlogs              27
Toys                     20
Science & Technology     17
Food & Drinks            15
Education                14
DIY & Life Hacks         14
Sports                   11
Fashion                   7
Animals & Pets            4
Fitness                   3
ASMR                      3
Design/art                3
Beauty                    2
Health & Self Help        2
Autos & Vehicles          1
Mystery                   1
Travel                    1
Name: Category, dtype: int64

In [13]:
#clean up youtube df
youtube['New_Category'] = youtube['Category'].replace(
    {'Animation': 'Movies', 'ASMR': 'Other', 'Daily vlogs': 'Journalism', 'Design/art': 'Art/Artists', 
     'DIY & Life Hacks': 'Other', 'Fitness': 'Lifestyle', 'Health & Self Help': 'Lifestyle', 'Mystery': 'Other', 
     'News & Politics': 'Journalism', 'Toys': 'Kids & Toys', 'Video games': 'Kids & Toys', 'Naan': 'Other' })

youtube['New_Category'].value_counts()

Music & Dance           185
Kids & Toys              99
Movies                   89
Journalism               72
Humor                    29
Other                    18
Science & Technology     17
Food & Drinks            15
Education                14
Sports                   11
Fashion                   7
Lifestyle                 5
Animals & Pets            4
Art/Artists               3
Beauty                    2
Autos & Vehicles          1
Travel                    1
Name: New_Category, dtype: int64

In [14]:
#clean up instagram df
instagram = instagram.dropna(how='any')
instagram['category_1'].value_counts()

Music                        66
Cinema & Actors/actresses    51
Lifestyle                    40
Shows                        25
Modeling                     16
Beauty                       12
Sports with a ball           11
Art/Artists                   9
Fashion                       8
Family                        8
Computers & Gadgets           5
Finance & Economics           4
Clothing & Outfits            4
Cars & Motorbikes             3
Nature & landscapes           3
Humor & Fun & Happiness       3
Literature & Journalism       2
Management & Marketing        2
Photography                   2
Fitness & Gym                 2
Science                       2
Accessories & Jewellery       1
Education                     1
Luxury                        1
Kids & Toys                   1
Name: category_1, dtype: int64

In [15]:
#clean up youtube df
instagram['New_Category'] = instagram['category_1'].replace(
    {'Accessories & Jewellery': 'Fashion', 'Adult content': 'Lifestyle', 'Animals': 'Animals & Pets', 
     'Cars & Motorbikes': 'Autos & Vehicles', 'Cinema & Actors/actresses': 'Movies', 'Clothing & Outfits': 'Fashion', 
    'Computers & Gadgets': 'Science & Technology', 'Family': 'Other', 'Finance & Economics': 'Other', 
     'Fitness & Gym': 'Lifestyle', 'Food & Cooking': 'Food & Drinks', 'Humor & Fun & Happiness': 'Humor', 
     'Literature & Journalism': 'Journalism', 'Luxury': 'Lifestyle', 'Machinery & Technologies': 'Science & Technology',
    'Management & Marketing': 'Other', 'Modeling': 'Fashion', 'Music': 'Music & Dance', 'Nature & landscapes': 'Travel', 
    'Photography': 'Business & Careers', 'Racing Sports': 'Sports', 'Science': 'Science & Technology', 'Shows': 'Movies', 
    'Sports with a ball': 'Sports', 'Naan': 'Other'})

instagram['New_Category'].value_counts()

Movies                  76
Music & Dance           66
Lifestyle               43
Fashion                 29
Other                   14
Beauty                  12
Sports                  11
Art/Artists              9
Science & Technology     7
Autos & Vehicles         3
Travel                   3
Humor                    3
Journalism               2
Business & Careers       2
Education                1
Kids & Toys              1
Name: New_Category, dtype: int64

In [16]:
#Export clean csvs to folder

youtube.to_csv('clean_youtube.csv')
instagram.to_csv('clean_instagram.csv')

In [ ]:
#join dataframes
merge_df =